.container{
    width: 100%;

    max-width: 1270px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1250px){
        padding: 20px;      
    }
}

.missileContainer{
    overflow: hidden;
}

.missile{
    position: absolute; 
    left: 50%; 
    top:50%;

    height: calc(17px + 13vh); 

    transform: translate(-50%,80%);

    animation-name: missile-appearance;
    animation-duration: 2s;

    pointer-events: none;

    @media screen and (max-height: 622px){
        transform: translate(-50%,60%);
        height: 100px; 
    }

    @media screen and(max-width: 995px) {
        display: none;
    }

    @media screen and (max-height: 512px) and (max-width: 717px){
        height: 75px; 
    }
}

.titleContainer{

    animation-name: title-appearance;
    animation-duration: 3s;
    
    @media screen and (max-width: 995px) {
        animation-name: mobile-title-appearance;
        animation-duration: 2s;
        margin: 0 auto;
        text-align: center;
    }  
}

.title{
    color: #fff;
    font-size: 58px;
    font-weight: 700;

    @media screen and (max-width: 995px) {
        padding-top: 50px;
    }

    @media screen and (max-width:508px){
        font-size: 50px;  
    }
    @media screen and (max-width:410px){
        font-size: 38px;  
    }
}

.subtitle{
    font-size: 25px;
    font-weight: 300;
}

.title__text{
    color: #fff;
    background: linear-gradient(90deg, #fff, #ff4005);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes missile-appearance{
    0%{
        top:130vh;  
    }
    100%{
        top:50%;  
    }
} 

@keyframes title-appearance{
    0%{
        margin-left: -100vw;  
    }
    100%{
        margin-left: 0vw;    
    }
}

@keyframes mobile-title-appearance{
    0%{
        margin-top: -150vh;  
    }
    100%{
        margin-top: 0vh;    
    }
}